*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
.center{
height: 40%;
width: 40%;
border: 1px solid black;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
/* background-color: lightgreen; */
}

.imgdiv{
    position: absolute;
    /* background-color: brown; */
    width: 100px;
    height: 150px;
    overflow:hidden;
}

.imgdiv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateY(100%);
}